key-pair "Gimlet RoT Stage0 Code Signing Engineering Offline CA A" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Engineering Offline CA B" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Engineering Online Signer A1" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Engineering Online Signer A2" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Engineering Online Signer B1" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Engineering Online Signer B2" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Production Offline CA A" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Production Offline CA B" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Production Online Signer A1" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Production Online Signer A2" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Production Online Signer B1" {
    rsa num-bits=4096
}

key-pair "Gimlet RoT Stage0 Code Signing Production Online Signer B2" {
    rsa num-bits=4096
}

entity "Gimlet RoT Stage0 Code Signing Engineering Offline CA A" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Engineering Offline CA A"
}

entity "Gimlet RoT Stage0 Code Signing Engineering Offline CA B" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Engineering Offline CA B"
}

entity "Gimlet RoT Stage0 Code Signing Engineering Online Signer A1" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Engineering Online Signer A1"
}

entity "Gimlet RoT Stage0 Code Signing Engineering Online Signer A2" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Engineering Online Signer A2"
}

entity "Gimlet RoT Stage0 Code Signing Engineering Online Signer B1" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Engineering Online Signer A1"
}

entity "Gimlet RoT Stage0 Code Signing Engineering Online Signer B2" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Engineering Online Signer A2"
}

entity "Gimlet RoT Stage0 Code Signing Production Offline CA A" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Production Offline CA A"
}

entity "Gimlet RoT Stage0 Code Signing Production Offline CA B" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Production Offline CA B"
}

entity "Gimlet RoT Stage0 Code Signing Production Online Signer A1" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Production Online Signer A1"
}

entity "Gimlet RoT Stage0 Code Signing Production Online Signer A2" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Production Online Signer A2"
}

entity "Gimlet RoT Stage0 Code Signing Production Online Signer B1" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Production Online Signer A1"
}

entity "Gimlet RoT Stage0 Code Signing Production Online Signer B2" {
    country-name "US"
    state-or-province-name "California"
    locality-name "Emeryville"
    organization-name "Oxide Computer Company"
    organizational-unit-name "Manufacturing"
    common-name "Gimlet RoT Stage0 Code Signing Production Online Signer A2"
}

certificate "Gimlet RoT Stage0 Code Signing Engineering Offline CA A Trust Anchor" {
    subject-entity "Gimlet RoT Stage0 Code Signing Engineering Offline CA A"
    subject-key "Gimlet RoT Stage0 Code Signing Engineering Offline CA A"
    issuer-entity "Gimlet RoT Stage0 Code Signing Engineering Offline CA A"
    issuer-key "Gimlet RoT Stage0 Code Signing Engineering Offline CA A"
    digest-algorithm "sha-256"

    not-after "9999-12-31T23:59:59Z"
    extensions {
        basic-constraints critical=true ca=true
        key-usage critical=true {
            key-cert-sign
        }
        subject-key-identifier critical=true
    }

    serial-number 1
}

certificate "Gimlet RoT Stage0 Code Signing Engineering Online Signer A1" {
    subject-entity "Gimlet RoT Stage0 Code Signing Engineering Online Signer A1"
    subject-key "Gimlet RoT Stage0 Code Signing Engineering Online Signer A1"
    issuer-certificate "Gimlet RoT Stage0 Code Signing Engineering Offline CA A Trust Anchor"
    issuer-key "Gimlet RoT Stage0 Code Signing Engineering Offline CA A"

    digest-algorithm "sha-256"

    not-after "9999-12-31T23:59:59Z"
    serial-number 0x3cc3000000000000

    extensions {
        basic-constraints critical=true ca=false
        key-usage critical=true {
            digital-signature
        }
        authority-key-identifier critical=true {
            key-id
            issuer
        }
    }
}